.header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  position: relative;
  overflow: hidden;
}

.footer {
  width: 100%;
  min-height: 100vh;
  background-color: #ccc;
}
