.App {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #282c34;
}

.button {
  width: 200px;
  padding: 8px 24px;
  border-radius: 100px;
  font-size: 4rem;
}

.button:hover {
  cursor: pointer;
}
